body {
	margin: 0;
	font-family: "Hiragino Kaku Gothic ProN";
}
a {
	 text-decoration: none;
}

.container {
	width:auto;
	height:50px;
	padding: 0 15px;
	margin:0 auto;

}


.top-wrapper {
	height:100px;
	padding-top:10px;
	padding-bottom:100px;
	background-image:url(image/backimage1.jpg);
	background-size:cover;
}
.top-wrapper h1{
	color:red;
}
.top-wrapper p{
	color: white;
}
.my-profile, .my-code {
	width:600;
	padding: 0 15px;
	margin: auto;
}
.my-profile h2, .my-code h2{
	width:auto;
	border-bottom: 5px solid red;
}
.link  {
	font-color:white;
	font-size:30px;
	background: #fd9535;
	border-radius:4px;
	display:none;
}

.btn-active{
	display:block;
}
