.container {
	color:red;
}

.top-wrapper{
	padding-top:180px;
	padding-bottom:100px;
	background-image:url(https://github.com/kannotakumi/prog.github.io-test/image/backimage1.jpg);
	color:white;
	background-size:cover;
}
